@import "tailwindcss";

@layer components {

    .fancy {
        font-family: "Lora", serif;
    }
    .notfancy {
        font-family: "Inter", sans-serif;
    }

    .button-1 {
        @apply bg-indigo-200 p-3 rounded-xl;
    }

    .nav-item {
        @apply flex items-center h-[80px] border-b-4 border-transparent hover:border-violet-300 transition-colors duration-200;
        font-family: "Inter", sans-serif;
    }

    .nav-item-hamb {
        @apply flex items-center h-[50px] font-semibold;
    }

    .lighter-text {
        @apply text-stone-600;
    }

    .bg-2 {
        @apply bg-stone-100/90;
    }

    .gradient-bottom {
        -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    }

}